.chat-box{
    height: 400px;
    width: 400px;
    background-color: lightgreen;
}
.chat-input{
    margin-top: 10px;
    height: 30px;
}

.comments{
  height: 300px;
  background-color: aqua;
  overflow:scroll;
}
